# Auto detect text files and perform LF normalization
* text=auto
# Explicitly set the line ending for specific file types
*.md text
*.txt text
*.json text
*.toml text
*.rs text
*.yaml text

# Binary files should not be normalized
*.png binary

